@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body {
  @apply bg-[#121212];
  @apply text-white;
  @apply lg:overscroll-y-none h-screen w-screen overflow-hidden flex flex-col;
  @apply font-light no-scrollbar;
}

.versions {
  @apply text-sky-300 font-semibold;
}
.versions.active {
  @apply text-rose-700;
}

.nav {
  @apply text-white;
}
.nav.active {
  @apply border-b-2 border-rose-600;
}

.main-nav {
  @apply text-xl md:text-2xl p-2 md:pb-2 rounded-md font-bold;
  @apply text-white shadow-lg;
  @apply flex flex-col items-center flex items-center justify-center gap-2 p-6;

  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

#markdown {
}

#markdown #header {
  @apply gap-4;
  @apply flex flex-col items-center justify-center px-10 py-20;
}
#markdown #header h1 {
  @apply text-3xl;
}

#markdown article {
  @apply text-gray-900;
  @apply px-20 py-10;
  @apply container mx-auto;
  @apply border rounded-lg bg-white;
}

#markdown article p {
  @apply mb-10;
}

.chip {
  @apply border rounded-full text-sm px-2 py-1 md:px-4 md:py-2 w-fit;
}

.chip.sm {
  @apply border rounded-full text-xs px-2 py-1 w-fit;
}

.btn {
  @apply rounded-md px-4 py-2 border;
}

.btn.lg {
  @apply rounded-md px-8 py-4 border;
}

.btn.primary {
  @apply border-0 bg-rose-900;
}

.astro-code {
  @apply text-sm rounded-md p-2;
}

.popup-glass {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.2px);
  -webkit-backdrop-filter: blur(10.2px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.glass {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.orange {
  background: rgba(238, 176, 135, 0.2);
}

#blog {
}

#blog #header {
  @apply gap-4;
  @apply flex flex-col items-center justify-center px-10 py-20;
}
#blog #header h1 {
  @apply text-3xl;
}

#blog article {
  @apply text-gray-900;
  @apply px-8 py-8 md:px-20 md:py-10;
  @apply container mx-auto;
  @apply border rounded-lg bg-white dark:text-gray-300 dark:bg-slate-800 dark:border-none;
}

#blog article p {
  @apply mb-10;
}
