@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body {
  @apply bg-black;
  @apply text-zinc-200;
  @apply lg:overscroll-y-none h-screen w-screen flex flex-col;
  @apply font-light no-scrollbar;
}
